<%= render 'main_slider' %>
<!-- CORE : begin -->
<div id="core">
  <!-- PAGE CONTENT : begin -->
  <div id="page-content">
    <div class="various-content">
      <%= render 'service_list' %>
      <%= render 'gallery' %>
      <%= render 'blog' %>
      <%= render 'testimonials' %>
      <%= render 'brands' %>
    </div>
  </div>
  <!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->
