<%= render 'main_slider' %>
<!-- CORE : begin -->
<div id="core">
  <!-- PAGE CONTENT : begin -->
  <div id="page-content">
    <div class="various-content">
      <%= render 'service_list' %>
      <%= render 'gallery' %>
      <%= render 'blog' %>
      <%= render 'testimonials' %>
      <%= render 'brands' %>
    </div>
  </div>
  <!-- PAGE CONTENT : end -->
</div>
<!-- CORE : end -->

<!-- BOTTOM PANEL : begin -->
<div id="bottom-panel">
  <div class="bottom-panel-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- BOTTOM TEXT : begin -->
          <div class="bottom-text various-content">

            <h3>About Beautyspot</h3>
            <p><strong>BEAUTYSPOT</strong> is an ideal template for <strong>beauty salon, hairdressers, wellness or spa</strong>. Clean code and top-notch web design techniques are wrapped with <strong>several gorgeous color schemes</strong> to choose from.</p><p>You can buy this responsive HTML5/CSS3 template on <a href="http://themeforest.net/user/ShakespeareThemes/portfolio?ref=LubosVolovar">ThemeForest</a>.</p>
          </div>
          <!-- BOTTOM TEXT : end -->
        </div>
        <!-- here future div area suscribe -->
      </div>
    </div>
  </div>
</div>
<!-- BOTTOM PANEL : end -->


