<nav class="header-menu">
<button class="header-menu-toggle" type="button"><i class="fa fa-bars"></i>MENU</button>
<ul>
  <li class="m-active">
  <span>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </span>
  </li>
  <li <%= cp2(root_path)%> >
  <span>
    <%= link_to "Inicio", root_path %>
  </span>
  </li>
  <li <%= cp2(all_products_path)%> >
  <span><%= link_to "Productos", all_products_path %></span> 
  <ul class="sub-menu">
    <li><%= link_to "Todos", all_products_path %></li>
    <% if  Category.all.each do |category| %>
      <li>
      <%= link_to category.name, root_path %>
      </li>
      <% end.empty? %>
      <li>Sin categorias</li>
    <% end %>
  </ul>
  </li>
  <li <%= cp2(about_path)%> >
  <span>
    <%= link_to "Quienes somos", about_path %>
  </span>
  </li>
  <li <%= cp2(contact_path)%> >
  <span><%= link_to "Contacto", contact_path %></span>
  </li>
</ul>
</nav>
